

.logo {
    width: 250px;
    margin: 60px 0px 0px 70px;
}

.container {
    display: flex;
    justify-content: center;
    align-content: space-around;
    max-width: 90%;
    max-height: 100%;
    margin: 70px 50px 0px 50px;
}
.ilustracao {
    width: 900px;
    height: 700px;
    margin-left: 60px;
}

.textos {
    margin: 50px 20px 0px 50px;
    color: white;
}
.titulo {
    font-weight: 600;
    font-size: 60px;
}
.paragrafo {
    font-size: 25px;
    margin: 20px 0px 30px;
}
.register {
    border-radius: 35px;
    background-color: white;
    color: hsl(257, 40%, 49%);
    font-weight: 400;
    font-size: 20px;
    padding: 20px;
    width: 330px;
    text-align: center;
    transition: 0.7s;
}
.register:hover {
    border-radius: 35px;
    background-color:hsl(257, 64%, 75%);
    color: white;
}

.social {
    display: flex;
    flex-direction: row-reverse;
}
.social .icones {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100px;
    margin: 0px 50px;
}
.social .icones li {
    margin: 0px 15px;
}
.social .icones li a{
    font-size: 30px;
    border: solid 0.6px white;
    border-radius: 50%;
    padding: 12px;
    color: white;
    transition: 0.7s;
}

.social .icones li a:hover{
    color: hsl(257, 65%, 76%);
}
